.inicio-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: -60px; /* Se mantiene el contenido pegado al menú lateral */
  width: 100%;
  box-sizing: border-box;
}

.section-wrapper {
  margin-bottom: 40px; /* Espaciado entre secciones */
}

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-card-container, .news-card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se acomoden en filas */
  gap: 16px;
}

.project-card, .news-card {
  flex: 1 1 calc(33.333% - 16px); /* Ajusta las tarjetas para ocupar un tercio del ancho disponible */
  max-width: calc(33.333% - 16px); /* Limita el ancho máximo de las tarjetas */
  box-sizing: border-box;
}


@media (max-width: 400px) {
  .inicio-container {
    margin-left: 0;
    padding: 10px;
  }
  
  .project-card, .news-card {
    flex: 1 1 100%; /* Ajusta las tarjetas para ocupar todo el ancho disponible en pantallas pequeñas */
    max-width: 100%;
  }
}